.tabs-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--card-bg);
    align-items: center;
    padding: 0.5rem 3.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  
    @media (min-width: 768px) {
      flex-direction: row;
    }
  
    .tab {
      padding: 0.5rem;
      border-radius: 0.375rem;
      color: var(--text-primary) !important;
      width: 100%;
      user-select: none;
  
      @media (min-width: 768px) {
        width: auto;
      }
  
      &:hover {
        cursor: pointer;
        background: var(--bg-secondary);
      }
    }
  
    .active-tab {
      background: var(--bg-secondary);
    }
  }
  
  

  .tab-cont{
    display: flex;
    list-style: none;
    gap: 20px;
    background-color: var(--card-bg);
    padding: 10px 20px;
    border-radius: 5px;

    li{
        padding:10px 20px;
        border-radius: 5px;
        color: var(--text-primary);
    }
  }