.tabs-container {
    @apply flex md:flex-row gap-4 bg-white items-center py-2 px-14 -mx-6 flex-col;
  
    .tab {
      @apply p-2 rounded-md text-black w-full md:w-auto select-none;
      color: #042a51 !important;
  
      &:hover {
        cursor: pointer;
        background: rgb(236 239 246 / 1);
      }
    }
  
    .active-tab {
      background: rgb(236 239 246 / 1);
    }
  }
  
  

  .tab-cont{
    display: flex;
    list-style: none;
    // flex-direction: row;
    gap: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;

    li{
        padding:10px 20px;
        border-radius: 5px;
    }
  }