
.pull-up {
    transition: all .25s ease;
}

.card {
    margin-bottom: 1.875rem;
    border: none;
    box-shadow: 0 2px 18px 1px rgb(49 53 72 / 10%);
    border-radius: .45rem;
}

.d-flex {
    display: flex!important;
}

.media {
    display: flex;
    align-items: flex-start;
}

.text-left {
    text-align: left!important;
}

.positiveCard{
    background-color: #5cb85c;
    color:white
}

.negativeCard{
    background-color: #d9534f;
    color:white
}

.zeroCard{
    background-color: #337ab7;
    color:white
}

.red{
    color: #d9534f;
}

.green{
    color: #5cb85c;
}

.fa-listing{
    font-size: 1rem;
}

.btn-dashboard-setting{
    margin-left: 6px;
}

.pull-right{
    float: right;
}
