

<p-toast></p-toast>


    <div class="container" *ngIf="showLoginForm">
        <div class="row mx-auto">
            <div class="col-12 col-lg-4"></div>
            <div class="col-12 col-lg-4">
                <div class="cvhc mt-5 mb-5">
                    <div class="mt-5 mb-5 text-center">
                        <h2 class="mb-3">Sports Reports</h2>
                        <form [formGroup]="form" (ngSubmit)="submitForm()">
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text h-full bg-gray-900" id="Username"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" [formControlName]="'username'" class="form-control" id="txtUser" placeholder="Username" aria-label="Username" aria-describedby="Username">
                                <small id="txtUser" class="form-text text-muted" *ngIf="f.username.dirty && f.username.errors?.required">Username is a required field</small>
                            </div>

                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text h-full" id="Password"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" [formControlName]="'password'" id="txtPassword" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="Password">
                                <small id="txtUser" class="form-text text-muted" *ngIf="f.username.dirty && f.username.errors?.required">Username is a required field</small>
                            </div>

                            <button type="submit" class="btn btn-success btn-block mb-4 w-full">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4"></div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
