<!-- <ul class="cb-slideshow">
  <li><span>Image 01</span><div><h3></h3></div></li>
  <li><span>Image 02</span><div><h3></h3></div></li>
  <li><span>Image 03</span><div><h3></h3></div></li>
  <li><span>Image 04</span><div><h3></h3></div></li>
  <li><span>Image 05</span><div><h3></h3></div></li>
</ul> -->

<p-toast></p-toast>

<div class="container">
  <div class="row mx-auto">
      <div class="col-12 col-lg-4"> </div>
      <div class="col-12 col-lg-4">
          <div class="cvhc mt-5 mb-5">
              <div class="mt-5 mb-5 text-center">
                  <h2 class="mb-3">New Agent Reports</h2>
                  <form [formGroup]="form" (ngSubmit)="submitForm()">

                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="Username"><i class="fas fa-user"></i></span>
                      </div>
                      <input type="text" [formControlName]="'username'" class="form-control" id="txtUser" placeholder="Username" aria-label="Username" aria-describedby="Username">
                      <small id="txtUser" class="form-text text-muted" *ngIf="f.username.dirty && f.username.errors?.required">Username is a required field</small>
                    </div>

                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="Password"><i class="fas fa-key"></i></span>
                      </div>
                      <input type="password" [formControlName]="'password'" id="txtPassword" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="Password">
                      <small id="txtUser" class="form-text text-muted" *ngIf="f.username.dirty && f.username.errors?.required">Username is a required field</small>
                    </div>

                      <button type="submit" class="btn btn-danger btn-block mb-4 btn-subm">Submit</button>
                  </form>
              </div>
          </div>
      </div>
      <div class="col-12 col-lg-4"> </div>
  </div>
</div>

<!-- ******************** Loading div ********************* -->
<div class="my-container">
  <ng-template #customLoadingTemplate>
      <div class="custom-class">
      </div>
  </ng-template>
  <ngx-loading [show]="_loadingReport" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>
