body {
  background-color: #f8f9fa;
}

.cvhc {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-gray-900 {
  background-color: #343a40;
  color: #ffffff;
}

.input-group-text {
  background-color: #343a40;
  color: #ffffff;
  border: none;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

.btn-danger:hover {
  background-color: #c82333;
}

.text-center h2 {
  color: #343a40;
  font-weight: bold;
}

.form-text.text-muted {
  color: #6c757d !important;
}