.NumPositive{
    color: var(--color-success);
    text-align: right;
}

.NumNegative{
    color: var(--color-danger);
    text-align: right;
}

.NumZero{
    color: var(--text-primary);
    text-align: right;
}

.link{
  color: var(--color-info);
  cursor: pointer;
}


.card-body nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}