<div class="table-responsive">
    <table class="table table-sm table-bordered table-striped" *ngIf="!loading">
      <thead class="table-dark">
        <tr>
            <th *ngFor="let column of columns" [ngClass]="{'frozen-column': column.frozen}">{{column.title}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="data?.length === 0">
          <td [attr.colspan]="columns.length">
            No data available in table
          </td>
        </tr>
        <tr *ngFor="let item of data">
            <ng-container *ngFor="let column of columns">
              <td *ngIf="column.template" [ngClass]="{'frozen-column': column.frozen}" [class]="column.cellClasses ?? ''" [innerHTML]="column.template(item)"></td>
              <td *ngIf="!column.template" [ngClass]="{'frozen-column': column.frozen}" [class]="column.cellClasses ?? ''" >
                <a *ngIf="column.route !== undefined" [routerLink]="column.route(item)" [queryParams]="column.params ? column.params(item) : null" [ngClass]="getClasses(item, column)">
                  {{getValuePipe(item, column)}}
                </a>
                <span *ngIf="column.route === undefined" [ngClass]="getClasses(item, column)">
                  {{getValuePipe(item, column)}}
                </span>
              </td>
            </ng-container>
        </tr>
      </tbody>
      <tfoot *ngIf="totalsData && hasTotals">
        <tr style="background-color: lightyellow; font-weight: bold;">
            <td *ngFor="let column of columns" [ngClass]="{'frozen-column': column.frozen}" [class]="getTotalsClasses(column) ?? ''">{{hasTotal(column) ? getTotalsPipe(column) : ""}}</td>
        </tr>
    </table>
  </div>