.low{
    color:red;
    font-size: 1.2em;
}



::ng-deep {
    .ticket {
        font-weight: bold;
        color: red;
    }

    .dtr-details > li {
        display: flex;
        flex-direction: column;

        .dtr-title {
            text-align: left;
        }    

        .dtr-data {
            white-space: normal !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;

            ul {
                list-style: circle !important;
            }
        }
    }
    
    .dtr-data,
    .wagers-list {
        white-space: normal !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        
        .wager-type {
            align-self: flex-start;
            display: inline-flex;
            padding: 2px 8px;
            border-radius: 16px;
            font-weight: 600;
            color: red;
            background-color: rgb(255 0 0 / 25%);
            margin: 8px 0;
        }
    
        ul {
            margin: 8px 0 !important;
            list-style-position: inside;
            padding: 0;
            font-size: 12px;
            line-height: 12px;

            li:last-of-type {
                margin-bottom: 0;
            }

            li {
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: row;
                gap: 4px;
                text-align: left;

                .wager-details {
                    flex: unset !important;
                    font-weight: 600;
                    border-radius: 24px;
                    font-size: 12px;
                    line-height: 12px;
                    min-width: 110px;
                }

                .wager-divider {
                    flex: unset !important;
                    font-weight: 600;
                }

                .wager-description {
                    flex: 1;
                    line-break: anywhere;
                    text-align: left;
                }
            }
        }
    }
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}