<div *ngIf="_currentUser != null && _currentUser != undefined && _currentUser.AgentSelected != null">
  <p-toast></p-toast>

  <div class="row" id="dashControls">
    <div class="col-lg-12">
      <div class="btn-dashboard-setting">
        <p-autoComplete [(ngModel)]="PlayerSelectedAcomplete" [suggestions]="filteredItems" (completeMethod)="filterItems($event)" field="Player" [dropdown]="true" (onSelect)="SelectedPlayerAutoComplete()" placeholder="Player Search"> </p-autoComplete>
      </div>
      <div class="dashboard-controls">
        <div class="btn-dashboard-setting">
          <button type="button" class="btn btn-info" (click)="open(contentNewPlayer)" data-toggle="tooltip" title="Create new player">
            <i style="color: #ffffff; font-size: 1.5em" class="fa fa-user-plus"></i>
          </button>
        </div>
        <div class="btn-dashboard-setting">
          <button type="button" class="btn btn-info" (click)="open(contentPlayerEdit)" data-toggle="tooltip" title="Edit Player">
            <i style="color: #ffffff; font-size: 1.5em" class="fas fa-user-pen"></i>
          </button>
        </div>
        <div class="btn-dashboard-setting">
          <button type="button" class="btn btn-info" (click)="open(contentTrans)" data-toggle="tooltip" title="Create player transaction">
            <img src="../../../assets/icons/cheque.svg" style="width: 28px; height: 28px;"/>
          </button>
        </div>
        <div class="btn-dashboard-setting">
          <button type="button" class="btn btn-info" (click)="open(contentAgentTrans)" data-toggle="tooltip" title="Create agent payment">
            <img src="../../../assets/icons/cheque-add.svg" style="width: 28px; height: 28px;"/>
          </button>
        </div>
        <div class="btn-dashboard-setting">
          <button type="button" class="btn btn-info" (click)="open(content)" data-toggle="tooltip" title="View Player Information">
            <i style="color: #ffffff; font-size: 28px" class="material-symbols-outlined">person_search</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="title-container">
    <h4>{{ this._currentUser.AgentSelected }} Summary {{ _currentUser.WeekList[_currentUser.RangeDateSelected].MonDate | date : 'MM/dd/yy' }} - {{ _currentUser.WeekList[_currentUser.RangeDateSelected].SunDate | date : 'MM/dd/yy' }}</h4>
    <div *ngIf="playerStatistics" (click)="modalInvoice = true">
      <h4>Current Service Balance: ${{playerStatistics?.CurrentBalance}}</h4>
    </div>
  </div>

  <div class="row summary">
    <div class="col-12 col-md-6 col-lg-3">
      <div [ngClass]="calculateClassesCard(_playerDataThisWeek.PlayerLose)">
        <div class="card-content border-primary">
          <div class="card-body border-primary">
            <div class="media d-flex">
              <div class="fa-3x spinner" *ngIf="_loadingPlayerDataThisWeek">
                <i class="fas fa-spinner fa-spin"></i>
              </div>

              <div class="media-body w-full" *ngIf="!_loadingPlayerDataThisWeek">
                <div class="flex justify-between">
                  <div class="col-8 header">
                    <span>This Week Player Lose</span>
                    <h4 class="info font-weight-bold">{{ _playerDataThisWeek.PlayerLose | number }}</h4>
                  </div>

                  <div class="col fa-2x text-left positive" *ngIf="_playerDataThisWeek.PlayerLose < '0'">
                    <i class="fa fa-arrow-down"></i>
                  </div>
                  <div class="col fa-2x text-left negative" *ngIf="_playerDataThisWeek.PlayerLose > '0'">
                    <i class="fa fa-arrow-up"></i>
                  </div>
                  <div class="col fa-2x text-left neutral" *ngIf="_playerDataThisWeek.PlayerLose == '0'">
                    <i class="fa fa-minus"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a [routerLink]="['/mainbk/weeklydaysheet']">
            <div class="card-footer bg-light text-dark">
              <span>Weekly Balance by Player</span>
              <i class="fa fa-2x fa-arrow-circle-o-right float-right"></i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <div class="card pull-up neutral">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="fa-3x spinner" *ngIf="_loadingPlayerDataThisWeek">
                <i class="fas fa-spinner fa-spin"></i>
              </div>

              <div class="media-body w-full" *ngIf="!_loadingPlayerDataThisWeek">
                <div class="flex justify-between">
                  <div class="col-8 header">
                    <span class="text-xl">Active Players</span>
                    <h4 class="info font-weight-bold">{{ _playerDataThisWeek.ActivePlayers | number }}</h4>
                  </div>

                  <div class="col fa-2x text-left neutral">
                    <i class="fas fa-users"></i>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="card-footer bg-light text-dark no-link">
            <span>Head Count</span>
            <!-- <i class="fa fa-2x fa-arrow-circle-o-right float-right"></i> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <div [ngClass]="calculateClassesCard(_playerDataLastWeek.PlayerLose)">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="fa-3x spinner" *ngIf="_loadingPlayerDataThisWeek">
                <i class="fas fa-spinner fa-spin"></i>
              </div>

              <div class="media-body w-full" *ngIf="!_loadingPlayerDataThisWeek">
                <div class="flex justify-between w-full">
                  <div class="col-8 header">
                    <span>Last Week - Player Lose</span>
                    <h4 class="info font-weight-bold">{{ _playerDataLastWeek.PlayerLose | number }}</h4>
                  </div>

                  <div class="col-4 fa-2x text-left positive" *ngIf="_playerDataLastWeek.PlayerLose < '0'">
                    <i class="fa fa-arrow-down"></i>
                  </div>
                  <div class="col-4 fa-2x text-left negative" *ngIf="_playerDataLastWeek.PlayerLose > '0'">
                    <i class="fa fa-arrow-up"></i>
                  </div>
                  <div class="col-4 fa-2x text-left neutral" *ngIf="_playerDataLastWeek.PlayerLose == '0'">
                    <i class="fa fa-minus"></i>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div (click)="GoToWeeklyBalanceLastWeek()" class="card-footer bg-light text-dark" style="cursor: hand">
            <span>Dashboard For Last Week</span>
            <i class="fa fa-2x fa-arrow-circle-o-right float-right"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <div [ngClass]="calculateClassesCard(ReportDataDistro.SuperTotalDistribution)">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="fa-3x spinner" *ngIf="_loadingReportDistro">
                <i class="fas fa-spinner fa-spin"></i>
              </div>

              <div class="media-body w-full" *ngIf="!_loadingReportDistro">
                <div class="flex justify-between">
                  <div class="col-8 header">
                    <span>Distribution last week</span>
                    <h4 class="info font-weight-bold">{{ ReportDataDistro.SuperTotalDistribution | number }}</h4>
                  </div>

                  <div class="col fa-2x text-left neutral">
                    <i class="fas fa-dollar-sign"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div (click)="GoToDistribution()" class="card-footer bg-light text-dark" style="color: blue">
            <span>Go to Distribution</span>
            <i class="fa fa-2x fa-arrow-circle-o-right float-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-6" *ngIf="_topPlayerList != null && _topPlayerList != undefined && _wonLossReport.Totals != null">
      <div class="card card-table">
        <div class="card-header">
          <div class="card-row">
            <div>
              <i class="fas fa-th"></i>
              <span>Won / Loss by Business Unit</span> 
            </div>
            <button (click)="GetWonLossByBusinessUnit()" type="button" class="btn btn-light btn-sm float-right border"><i class="fas fa-sync-alt"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="fa-3x spinner" *ngIf="_loadingWonLossByUnit">
            <i class="fas fa-spinner fa-spin"></i>
          </div>
          <div class="table-responsive">
            <table class="table table-sm table-bordered table-striped" *ngIf="!_loadingWonLossByUnit">
              <thead class="table-dark">
                <tr>
                  <th>UNIT</th>
                  <th class="text-right">MON</th>
                  <th class="text-right">TUE</th>
                  <th class="text-right">WED</th>
                  <th class="text-right">THU</th>
                  <th class="text-right">FRI</th>
                  <th class="text-right">SAT</th>
                  <th class="text-right">SUN</th>
                  <th class="text-right">TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detail of _wonLossReport.Units">
                  <td>
                    <a [routerLink]="['/mainbk/weekly']" [queryParams]="{ sport: detail.Business }">{{ detail.Business }}</a>
                  </td>
                  <td class="text-right">
                    <a [routerLink]="['/mainbk/weekly']" [ngClass]="calculateClasses(detail.Mon)" [queryParams]="{ sport: detail.Business }">{{ detail.Mon | number : '1.2-2' }}</a>
                  </td>
                  <td class="text-right">
                    <a [routerLink]="['/mainbk/weekly']" [ngClass]="calculateClasses(detail.Tue)" [queryParams]="{ sport: detail.Business }">{{ detail.Tue | number : '1.2-2' }}</a>
                  </td>
                  <td class="text-right">
                    <a [routerLink]="['/mainbk/weekly']" [ngClass]="calculateClasses(detail.Wed)" [queryParams]="{ sport: detail.Business }">{{ detail.Wed | number : '1.2-2' }}</a>
                  </td>
                  <td class="text-right">
                    <a [routerLink]="['/mainbk/weekly']" [ngClass]="calculateClasses(detail.Thu)" [queryParams]="{ sport: detail.Business }">{{ detail.Thu | number : '1.2-2' }}</a>
                  </td>
                  <td class="text-right">
                    <a [routerLink]="['/mainbk/weekly']" [ngClass]="calculateClasses(detail.FRI)" [queryParams]="{ sport: detail.Business }">{{ detail.FRI | number : '1.2-2' }}</a>
                  </td>
                  <td class="text-right">
                    <a [routerLink]="['/mainbk/weekly']" [ngClass]="calculateClasses(detail.SAT)" [queryParams]="{ sport: detail.Business }">{{ detail.SAT | number : '1.2-2' }}</a>
                  </td>
                  <td class="text-right">
                    <a [routerLink]="['/mainbk/weekly']" [ngClass]="calculateClasses(detail.SUN)" [queryParams]="{ sport: detail.Business }">{{ detail.SUN | number : '1.2-2' }}</a>
                  </td>
                  <td class="text-right">
                    <a [routerLink]="['/mainbk/weekly']" [ngClass]="calculateClasses(detail.Total)" [queryParams]="{ sport: detail.Business }">{{ detail.Total | number : '1.2-2' }}</a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>TOTAL</td>
                  <td class="text-right" [ngClass]="calculateClasses(_wonLossReport.Totals.TMON)">
                    {{ _wonLossReport.Totals.TMON | number : '1.2-2' }}
                  </td>
                  <td class="text-right" [ngClass]="calculateClasses(_wonLossReport.Totals.TTUE)">
                    {{ _wonLossReport.Totals.TTUE | number : '1.2-2' }}
                  </td>
                  <td class="text-right" [ngClass]="calculateClasses(_wonLossReport.Totals.TWED)">
                    {{ _wonLossReport.Totals.TWED | number : '1.2-2' }}
                  </td>
                  <td class="text-right" [ngClass]="calculateClasses(_wonLossReport.Totals.TTHU)">
                    {{ _wonLossReport.Totals.TTHU | number : '1.2-2' }}
                  </td>
                  <td class="text-right" [ngClass]="calculateClasses(_wonLossReport.Totals.TFRI)">
                    {{ _wonLossReport.Totals.TFRI | number : '1.2-2' }}
                  </td>
                  <td class="text-right" [ngClass]="calculateClasses(_wonLossReport.Totals.TSAT)">
                    {{ _wonLossReport.Totals.TSAT | number : '1.2-2' }}
                  </td>
                  <td class="text-right" [ngClass]="calculateClasses(_wonLossReport.Totals.TSUN)">
                    {{ _wonLossReport.Totals.TSUN | number : '1.2-2' }}
                  </td>
                  <td class="text-right" [ngClass]="calculateClasses(_wonLossReport.Totals.GTotal)">
                    {{ _wonLossReport.Totals.GTotal | number : '1.2-2' }}
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card card-table">
            <div class="card-header">
              <div class="card-row">
                <div>
                  <i class="fas fa-chart-bar"></i>
                  <span>Win / Loss Breakdown Chart</span> 
                </div>
                <button (click)="GetPlayerTopWinLoss()" type="button" class="btn btn-light btn-sm float-right border"><i class="fas fa-sync-alt"></i></button>
              </div>
            </div>
            <div class="card-body">
              <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col">
          <div class="card">
            <h5 class="card-header"><i class="fas fa-chart-bar"></i> Win/Loss Breakdown Chart<button
                (click)="GetPlayerTopWinLoss()" type="button" class="btn btn-light btn-sm float-right border"><i
                  class="fas fa-sync-alt"></i></button></h5>
            <div class="card-body">
              <div class="card">
                <h5>Vertical</h5>
                <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <!-- <div class="card">
        <h5 class="card-header"><i class="fas fa-th"></i> Head Count <button (click)="GetPlayerActivity()" type="button"
            class="btn btn-light btn-sm float-right border"><i class="fas fa-sync-alt"></i></button></h5>
        <div class="card-body">
          <div class="fa-3x" *ngIf="_loadingActivePlayerReport">
            <i class="fas fa-spinner fa-spin"></i>
          </div>

          <div class="table-responsive">
            <table class="table table-sm table-bordered table-striped" *ngIf="!_loadingActivePlayerReport">
              <thead class="table-dark">
                <tr>
                  <th>PLAYER</th>
                  <th class="text-center">PHONE</th>
                  <th class="text-center">ONLINE</th>
                  <th class="text-center">CASINO</th>
                  <th class="text-center">DGSRacingOnline</th>
                  <th class="text-center">DGSRacingPhone</th>
                  <th class="text-center">EZLive</th>
                  <th class="text-center">LiveDealer</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let detail of _playerActivityReport">
                  <tr style="background-color: #f0f0f0;">
                    <td colspan="8">{{detail.Agent}}</td>
                  </tr>
                  <tr *ngFor="let player of detail.ActivePlayers">
                    <td>{{player.Player}}</td>
                    <td style="text-align: center;"> <i class="fa fa-times-circle fa-listing red"
                        *ngIf="player.Phone == 0"></i> <i class="fa fa-check-circle fa-listing green"
                        *ngIf="player.Phone == 1"></i> </td>
                    <td style="text-align: center;"> <i class="fa fa-times-circle fa-listing red"
                        *ngIf="player.Online == 0"></i> <i class="fa fa-check-circle fa-listing green"
                        *ngIf="player.Online == 1"></i> </td>
                    <td style="text-align: center;"><i class="fa fa-times-circle fa-listing red"
                        *ngIf="player.Casino == 0"></i> <i class="fa fa-check-circle fa-listing green"
                        *ngIf="player.Casino == 1"></i></td>
                    <td style="text-align: center;"><i class="fa fa-times-circle fa-listing red"
                        *ngIf="player.DGSRacingOnline == 0"></i> <i class="fa fa-check-circle fa-listing green"
                        *ngIf="player.DGSRacingOnline == 1"></i> </td>
                    <td style="text-align: center;"><i class="fa fa-times-circle fa-listing red"
                        *ngIf="player.DGSRacingPhone == 0"></i> <i class="fa fa-check-circle fa-listing green"
                        *ngIf="player.DGSRacingPhone == 1"></i> </td>
                    <td style="text-align: center;"><i class="fa fa-times-circle fa-listing red"
                        *ngIf="player.EZLive == 0"></i> <i class="fa fa-check-circle fa-listing green"
                        *ngIf="player.EZLive == 1"></i> </td>
                    <td style="text-align: center;"><i class="fa fa-times-circle fa-listing red"
                        *ngIf="player.VigLiveDealer == 0"></i> <i class="fa fa-check-circle fa-listing green"
                        *ngIf="player.VigLiveDealer == 1"></i> </td>
                  </tr>

                  <tr style="background-color: #d6d6d6;">
                    <td>{{detail.Agent}} (Count: {{detail.ActivePlayers.length}})</td>
                    <td style="text-align: center;">{{detail.Total.Phone}}</td>
                    <td style="text-align: center;">{{detail.Total.Online}}</td>
                    <td style="text-align: center;">{{detail.Total.Casino}}</td>
                    <td style="text-align: center;">{{detail.Total.DGSRacingOnline}}</td>
                    <td style="text-align: center;">{{detail.Total.DGSRacingPhone}}</td>
                    <td style="text-align: center;">{{detail.Total.EZLive}}</td>
                    <td style="text-align: center;">{{detail.Total.VigLiveDealer}}</td>
                  </tr>
                </ng-container>

              </tbody>

            </table>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
          <div class="card card-table">
            <div class="card-header">
              <div class="card-row">
                <div>
                  <i class="fas fa-arrow-circle-down"></i>
                  <span>Week Top Losing Players</span> 
                </div>
                <button (click)="GetPlayerTopWinLoss()" type="button" class="btn btn-light btn-sm float-right border"><i class="fas fa-sync-alt"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="fa-3x spinner" *ngIf="_loadingTopPlayer">
                <i class="fas fa-spinner fa-spin"></i>
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-bordered table-striped" *ngIf="!_loadingTopPlayer">
                  <thead class="table-dark">
                    <tr>
                      <th>AGENT</th>
                      <th class="text-right">PLAYER</th>
                      <th class="text-right">TOTAL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detail of _topPlayerList.LosList">
                      <td>
                        <a [routerLink]="['/mainbk/weeklyplayer']" [queryParams]="{ agent: detail.Agent }">{{ detail.Agent }}</a>
                      </td>
                      <td class="text-right">
                        <a [routerLink]="['/mainbk/playerdetails']" [queryParams]="{ player: detail.Player, idplayer: detail.IdPlayer }">{{ detail.Player }}</a>
                      </td>
                      <td class="text-right">
                        <a [routerLink]="['/mainbk/playerhistory']" [queryParams]="{ player: detail.Player, idplayer: detail.IdPlayer }" [ngClass]="calculateClasses(detail.Total)">{{ detail.Total | number : '1.2-2' }}</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
          <div class="card card-table">
            <div class="card-header">
              <div class="card-row">
                <div>
                  <i class="fas fa-arrow-circle-up"></i>
                  <span>Week Top Winning Players</span> 
                </div>
                <button (click)="GetPlayerTopWinLoss()" type="button" class="btn btn-light btn-sm float-right border"><i class="fas fa-sync-alt"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="fa-3x spinner" *ngIf="_loadingTopPlayer">
                <i class="fas fa-spinner fa-spin"></i>
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-bordered table-striped" *ngIf="!_loadingTopPlayer">
                  <thead class="table-dark">
                    <tr>
                      <th>AGENT</th>
                      <th class="text-right">PLAYER</th>
                      <th class="text-right">TOTAL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detail of _topPlayerList.WinList">
                      <td>
                        <a [routerLink]="['/mainbk/weeklyplayer']" [queryParams]="{ agent: detail.Agent }">{{ detail.Agent }}</a>
                      </td>
                      <td class="text-right">
                        <a [routerLink]="['/mainbk/playerdetails']" [queryParams]="{ player: detail.Player, idplayer: detail.IdPlayer }">{{ detail.Player }}</a>
                      </td>
                      <td class="text-right">
                        <a [routerLink]="['/mainbk/playerhistory']" [queryParams]="{ player: detail.Player, idplayer: detail.IdPlayer }" [ngClass]="calculateClasses(detail.Total)">{{ detail.Total | number : '1.2-2' }}</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-sidebar [(visible)]="display" styleClass="p-sidebar-md" (onHide)="hideFilters()">
    <h5>Filters</h5>
    <hr />
    <div class="row mb-2 mt-2">
      <div class="col">
        <button onclick="window.print();" class="btn btn-light btn-smaction-bar-link fa fa-print fa-2x mr-3"></button>
        <button onclick="refresh()" class="btn btn-light btn-sm action-bar-link fa fa-redo fa-2x"></button>
      </div>
    </div>

    <!-- <div class="form-group mb-3">
      <label for="txtagent">Agent:</label>
      <select [(ngModel)]="agentSelected" class="form-control">
        <option *ngFor="let agent of agentList" [value]="agent._idagent">
          {{agent._agent}}
        </option>
      </select>
    </div> -->
    <div class="form-group mb-3">
      <label for="txtagent">Week:</label>
      <select [(ngModel)]="_currentUser.RangeDateSelected" class="custom-select" (change)="onChangeDateSelection($event)">
        <option *ngFor="let week of _currentUser.WeekList; let i = index" [value]="i">{{ week.MonDate | date : 'MM/dd/yyyy' }} - {{ week.SunDate | date : 'MM/dd/yyyy' }}</option>
      </select>
    </div>

    <!-- <button type="button" class="btn btn-primary  mb-3" (click)="GetReport()">Submit</button> -->

    <!-- <p>Depending on the screen height, you might need to scroll vertically to see all options.</p>  -->

    <p class="d-block">Some filters and their options load based on the content of each report.</p>

    <p class="d-block">Filters like the Agent, Date and Player remain selected across different reports.</p>
  </p-sidebar>
</div>

<ng-template #content let-modal>
  <div class="modal-header" style="background-color: #337ab7">
    <h4 class="modal-title" id="modal-basic-title" style="color: white">Dashboard</h4>
    <button type="button" class="close btn btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="height: 300px">
    <div class="form-group">
      <p>First select the agent:</p>
      <div class="fa-3x" *ngIf="_loadingAgentList">
        <i class="fas fa-spinner fa-spin"></i>
      </div>
      <p-dropdown *ngIf="!_loadingAgentList" styleClass="custom-select" [options]="agentList" (onChange)="GetPlayerList()" [(ngModel)]="AgentSelected" optionLabel="_agent" [filter]="true" filterBy="value._agent" [showClear]="true" placeholder="Choose agent">
        
      </p-dropdown>

      <p>Select player:</p>
      <div class="fa-3x" *ngIf="loadingPlayerList">
        <i class="fas fa-spinner fa-spin"></i>
      </div>

      <p-dropdown *ngIf="!loadingPlayerList" styleClass="custom-select" [options]="playerList" [(ngModel)]="playerSelected" optionLabel="Player" [filter]="true" filterBy="value.Player" [showClear]="true" placeholder="Select a Player">
       
      </p-dropdown>
    </div>
    <div class="alert alert-primary" role="alert">Note: You will be redirected to the Player Details page after pressing 'Continue'.</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Cancel</button>
    <button type="button" class="btn btn-outline-primary" (click)="gotoPlayerDetails()">Continue</button>
  </div>
</ng-template>

<ng-template #contentTrans let-modal>
  <div class="modal-header" style="background-color: #337ab7">
    <h4 class="modal-title" id="modal-basic-title" style="color: white">Dashboard</h4>
    <button type="button" class="close btn btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Add Player Adjustment

    <div class="fa-3x" *ngIf="loadingPlayerList">
      <i class="fas fa-spinner fa-spin"></i>
    </div>

    <div *ngIf="_stepTrans == 1">
      <p>First select the agent:</p>
      <div class="fa-3x" *ngIf="_loadingAgentList">
        <i class="fas fa-spinner fa-spin"></i>
      </div>
      <p-dropdown *ngIf="!_loadingAgentList" styleClass="custom-select" [options]="agentList" (onChange)="GetPlayerList()" [(ngModel)]="AgentSelected" optionLabel="_agent" [filter]="true" filterBy="value._agent" [showClear]="true" placeholder="Choose agent">
        
      </p-dropdown>

      <p>Select player:</p>
      <div class="fa-3x" *ngIf="loadingPlayerList">
        <i class="fas fa-spinner fa-spin"></i>
      </div>

      <p-dropdown *ngIf="!loadingPlayerList" styleClass="custom-select" [options]="playerList" [(ngModel)]="playerSelected" optionLabel="Player" [filter]="true" filterBy="value.Player" [showClear]="true" placeholder="Select a Player">
       
      </p-dropdown>
      <div class="alert alert-primary" role="alert">NOTE: Before you continue, please double check you have selected the correct account.</div>
      <button type="button" class="btn btn-outline-primary" (click)="OpenDivPlayerTransaction()">Continue</button>
    </div>

    <div *ngIf="_stepTrans == 2 && playerSelected != null">
      <app-PlayerTransaction [idplayer]="playerSelected.IdPlayer"></app-PlayerTransaction>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<ng-template #contentAgentTrans let-modal>
  <div class="modal-header" style="background-color: #337ab7">
    <h4 class="modal-title" id="modal-basic-title" style="color: white">Dashboard</h4>
    <button type="button" class="close btn btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Add Agent Payment

    <div class="fa-3x" *ngIf="loadingPlayerList">
      <i class="fas fa-spinner fa-spin"></i>
    </div>

    <div *ngIf="_stepTrans == 1">
      <p>First select the agent:</p>
      <div class="fa-3x" *ngIf="_loadingAgentList">
        <i class="fas fa-spinner fa-spin"></i>
      </div>
      <p-dropdown *ngIf="!_loadingAgentList" styleClass="custom-select" [options]="agentList" [(ngModel)]="AgentSelected" optionLabel="_agent" [filter]="true" filterBy="value._agent" [showClear]="true" placeholder="Choose agent">
        
      </p-dropdown>
      <div class="alert alert-primary" role="alert">NOTE: Before you continue, please double check you have selected the correct account.</div>
      <button type="button" class="btn btn-outline-primary" (click)="OpenAgentTransForm()">Continue</button>
    </div>

    <div *ngIf="_stepTrans == 2 && AgentSelected != null">
      <app-AgentTransaction [idagent]="AgentSelected._idagent" [agent] = "AgentSelected._agent"></app-AgentTransaction>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<ng-template #contentPlayerEdit let-modal>
  <div class="modal-header" style="background-color: #337ab7">
    <h4 class="modal-title" id="modal-basic-title" style="color: white">Dashboard</h4>
    <button type="button" class="close btn btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Select Player for edit

    <div *ngIf="_stepTrans == 1">
      <p>First select the agent:</p>
      <div class="fa-3x" *ngIf="_loadingAgentList">
        <i class="fas fa-spinner fa-spin"></i>
      </div>
      <p-dropdown *ngIf="!_loadingAgentList" styleClass="custom-select" [options]="agentList" (onChange)="GetPlayerList()" [(ngModel)]="AgentSelected" optionLabel="_agent" [filter]="true" filterBy="value._agent" [showClear]="true" placeholder="Choose agent">
        
      </p-dropdown>

      <p>Select player:</p>
      <div class="fa-3x" *ngIf="loadingPlayerList">
        <i class="fas fa-spinner fa-spin"></i>
      </div>

      <p-dropdown *ngIf="!loadingPlayerList" styleClass="custom-select" [options]="playerList" [(ngModel)]="playerSelected" optionLabel="Player" [filter]="true" filterBy="value.Player" [showClear]="true" placeholder="Select a Player">
      </p-dropdown>
      <div class="alert alert-primary" role="alert">NOTE: Before you continue, please double check you have selected the correct account.</div>
      <button type="button" class="btn btn-outline-primary" (click)="OpenDivPlayerTransaction()">Continue</button>
    </div>

    <div *ngIf="_stepTrans == 2 && playerSelected != null">
      <!-- <app-PlayerTransaction [idplayer]="playerSelected.IdPlayer"></app-PlayerTransaction> -->
      <app-EditPlayer [player]="" [idplayer]="playerSelected.IdPlayer"></app-EditPlayer>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<ng-template #contentNewPlayer let-modal>
  <div class="modal-header" style="background-color: #337ab7">
    <h4 class="modal-title" id="modal-basic-title" style="color: white">Dashboard</h4>
    <button type="button" class="close btn btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Add Player

    <div class="fa-3x" *ngIf="loadingPlayerList">
      <i class="fas fa-spinner fa-spin"></i>
    </div>

    <div *ngIf="_stepTrans == 1" class="flex flex-col gap-2">
      <p>First select the agent:</p>
      <div class="fa-3x" *ngIf="_loadingAgentList">
        <i class="fas fa-spinner fa-spin"></i>
      </div>
      <p-dropdown *ngIf="!_loadingAgentList"  class="" [options]="agentList" (onChange)="OpenAddPlayerForm()" [(ngModel)]="AgentSelected" optionLabel="_agent" [filter]="true" filterBy="value._agent" [showClear]="true" placeholder="Choose agent">

      </p-dropdown>

      <button type="button" class="btn btn-outline-primary" (click)="OpenDivPlayerTransaction()">Continue</button>
    </div>

    <div *ngIf="_stepTrans == 2 && AgentSelected != null">
      <app-AddPlayer [IdAgent]="AgentSelected._idagent"></app-AddPlayer>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<!-- ******************** Loading div ********************* -->
<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class"></div>
  </ng-template>
  <ngx-loading [show]="_loadingReport" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"> </ngx-loading>
</div>


<p-dialog header="Invoice Options" [modal]="true" [(visible)]="modalInvoice" [style]="{ width: '25rem' }">
  <!-- <span class="p-text-secondary block mb-5">Update your information.</span> -->
   <div class="modal-container-buttons">
     <a [href]="InvoiceUrl" target="_blank"><button>View Invoice</button></a>
     <button [routerLink]="'/mainbk/cashier'" [queryParams]="{ invoice: playerStatistics | json }">Pay Invoice</button>
   </div>
  
</p-dialog>