.hasvalue{
    color:blue;
    background-color: #F5F5F5;
    cursor: pointer;
}

.table-in-cell {
    margin: 0;
    td {
        padding: 8px 4px  !important;
    }
}

.table-main {
    td,
    th {
        padding: 8px !important;
    }
}

::ng-deep {
    .dtr-details > li {
        display: flex;
        flex-direction: column;

        .dtr-title tr:first-of-type {
            grid-template-columns: 1fr;
        }

        tr {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.main-row-details {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 824px) {
    .main-row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}