.table-value {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    div {
        text-align: center;
        width: 150px;
        height: 48px;
        padding: 16px 8px;
    }
}

@media screen and (max-width: 1024px) {
    .table-value div {
        padding: 16px 8px;
    }
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


app-landscape-notice {
    --notice-vanish: 6s;
}