

.show-more {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    background: #e5feff;
    overflow: hidden;
    max-height: 0;
  }
  .show-more.show {
    max-height: 300px;
  }

  