<div *ngIf="_PlayerInfo != null" class="playerTransactionClassic">

  <p-toast></p-toast>

  <table class="table" *ngIf="!isClassic">
    <tbody>
      <tr>
        <td>Agent:</td>
        <td>{{_PlayerInfo.Agent}}</td>
        <td>Player:</td>
        <td>{{_PlayerInfo.Player}}</td>
      <tr>
      <tr>
        <td>Balance:</td>
        <td>{{_PlayerInfo.Current_Balance | number: '1.2-2'}}</td>
        <td>Avail Balance:</td>
        <td>{{_PlayerInfo.Available_Balance | number: '1.2-2'}}</td>
      <tr>
      <tr>
        <td>Player Status::</td>
        <td>{{_PlayerInfo.Status}}</td>
        <td></td>
        <td></td>
      <tr>
    </tbody>
  </table>


  <div class="form-group">
    <label for="ddlTransactionType">Transaction Type</label>
    <select class="form-select" id="ddlTransactionType" [(ngModel)]="_transactionType">
      <option value='R'>Receipt</option>
      <option value='D'>Disbursement</option>
      <option value='A'>Sport Adjustment</option>
      <option value='H'>Horses Adjustment</option>
      <option value='C'>Accural adjustment</option>
      <option value='P'>Free Play</option>
    </select>
  </div>


  <div class="form-group">
    <label for="txtNotes">Description:</label>
    <input type="text" class="form-control" id="txtNotes" [(ngModel)]="_CreatePlayerTransaction.Description">
  </div>

  <div class="form-group">
    <label for="txtAmount">Amount:</label>
    <input type="number" class="form-control" id="txtAmount" [(ngModel)]="_CreatePlayerTransaction.Amount">
  </div>

  <div class="form-group" *ngIf="_transactionType == 'R'">
    <label for="txtBonus">Bonus:</label>
    <input type="number" class="form-control" id="txtBonus" [(ngModel)]="_CreatePlayerTransaction.Bonus">
  </div>

  <div class="form-group" *ngIf="_transactionType == 'R' || _transactionType == 'D' ">
    <label for="txtFees">Fees:</label>
    <input type="number" class="form-control" id="txtFees" [(ngModel)]="_CreatePlayerTransaction.Fee">
  </div>

  <div class="form-group"
    *ngIf="_transactionType == 'R' || _transactionType == 'D'  || _transactionType == 'A'  || _transactionType == 'H'  || _transactionType == 'C' || _transactionType == 'P' ">
    <label for="txtNotes">Reference:</label>
    <input type="text" class="form-control" id="txtNotes" [(ngModel)]="_CreatePlayerTransaction.Reference">
  </div>




  <button type="button" [ngClass]="isClassic ? 'btnClassic' : 'btn btn-primary'" (click)="CreateTransaction()">Create Transaction</button>

</div>