<div *ngIf="PlayerInformation != null && PlayerInformation != undefined && AgentDetails != null && AgentDetails != undefined">

  Agent: {{AgentDetails.Agent}}

  <p-toast></p-toast>

  <div class="form-group mb-3">
    <label for="txtAccount">Account</label>
    <input type="text" class="form-control" id="txtAccount" [(ngModel)]="PlayerInformation.Player">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group mb-3">
    <label for="txtPassword">Password</label>
    <input type="text" class="form-control" id="txtPassword" [(ngModel)]="PlayerInformation.Password">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group mb-3">
    <label for="txtCredit">Credit</label>
    <input type="number" class="form-control" id="txtCredit" [(ngModel)]="PlayerInformation.CreditLimit">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group mb-3">
    <label for="txtMinWager">Min Wager</label>
    <input type="number" class="form-control" id="txtMinWager" [(ngModel)]="PlayerInformation.MinWager">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group mb-3">
    <label for="txtMaxWager">Max Wager</label>
    <input type="number" class="form-control" id="txtMaxWager" [(ngModel)]="PlayerInformation.MaxWager">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group mb-3">
    <label for="txtOnMinWager">Online Min Wager</label>
    <input type="number" class="form-control" id="txtOnMinWager" [(ngModel)]="PlayerInformation.OnlineMinWager">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group mb-3">
    <label for="txtOnMaxWager">Online Max Wager</label>
    <input type="number" class="form-control" id="txtOnMaxWager" [(ngModel)]="PlayerInformation.OnlineMaxWager">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>

  <div class="form-group mb-3">
    <label for="txtagent">Line Type:</label>
    <select [(ngModel)]="LineTypeSelected" class="form-control">
      <option *ngFor="let item of LineTypeList" [value]="item.IdLineType">
        {{item.Description}}
      </option>
    </select>
  </div>

  <div class="form-group mb-3">
    <label for="txtagent">Profile:</label>
    <select [(ngModel)]="ProfileSelected" class="form-control">
      <option *ngFor="let item of ProfileList" [value]="item.IdProfile">
        {{item.ProfileName}}
      </option>
    </select>
  </div>

  <div class="form-group mb-3">
    <label for="txtagent">Profile Limits:</label>
    <select [(ngModel)]="ProfileLimitsSelected" class="form-control">
      <option *ngFor="let item of LimitProfileList" [value]="item.IdProfileLimits">
        {{item.ProfileName}}
      </option>
    </select>
  </div>


  <button type="button" class="btn btn-primary" (click)="InsertPlayer()">Create new Player</button>

</div>